<div class="footer">
    <div class="box-left">
        <div class="foot-logo"><a href="/">Paw Care</a> </div>
        <div class="foot-list">
            <div class="foot-about-us"><a href="/aboutus">About Us</a></div>
            <div class="foot-find-pets"><a href="/NewMembers"> Find Pets</a>
            </div>
            <div class="foot-support"><a href="/support"> Support</a></div>
            <div class="foot-supply"><a href="/pet_supply"> Pet Supply</a></div>
        </div>
    </div>
    
    <div class="box-right">
        <div class="heading">
            <h2>Subscribe to our newsletter</h2>
        </div>
        <div class="para">
            <p>Get weekly updates about paws and pets near you, and more info on pet care and new supplies for them.</p>
        </div>
        <form action="">
            <div class="email-input">
                <input placeholder="Your Email Address" type="email">
            </div>
            <br>
            <div class="subscribe">
                <button>Subscribe</button>
            </div>
        </form>
    </div>
</div>