<nav>
    <div class="nav-container">
        <div class="logo"><a href="/">PawCare</a></div>
        <div class="list">
            <div class="about-us"><a href="/aboutus">About Us</a></div>
            <div class="find-pets"><a href='/NewMembers'>Find Pets</a></div>
            <div class="support"><a href="/support">Support</a></div>
            <div class="pet-supply"><a href="/pet_supply">Pet Supply</a></div>
            <div class="pet-supply"><a href="/new_pet">Surrender Pet</a></div>
        </div>
        <div class="log-up">
            <div class="login"><a href="/login">Login</a></div>
            <div class="login"><a href="/signup">Sign Up</a></div>
            <div><a href="/profile"><img src="/img/profile.jpg" height="40px" width="40px" style="border-radius: 50%;" alt=""></a></div>
        </div>
    </div>
</nav>