<% layout('../layouts/base') %>

<div class="about_us">
    <div class="container_about_us">
        <div class="heading">
            <div class="text" data-aos="fade-right">
                <h1 style="display: inline;">Meet our team of</h1>&nbsp;&nbsp;
                <h1 style="display: inline;" class="creators">Creators,</h1>
                <br>
                <h1 class="creators" style="display: inline;">Designers</h1>
                <h1 style="display: inline;">,and world-class</h1>
                <br>
                <h1 style="display: inline;">problem </h1>
                <h1 style="display: inline;" class="creators">Solvers</h1>
            </div>
            <div class="anim">

            </div>
            <div class="para" data-aos="fade-right">
                Pet adoption can be a rewarding and fulfilling experience for both the pet and the owner. However, it can also be a daunting task, especially for first-time pet owners. Fortunately, we are here for the rescue. Our website helps you to find your pet partner and add more joy to your life. We promote adopting rescued pets from shelter rather than purchasing from breeders.

We wish you a joyful journey exploring pets on our website and be their forever family.
            </div>
        </div>
        <div class="members">
            <div class="members2" data-aos="fade-up">
                <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" height="280px" width="280px" alt="">
                <div class="details">
                    <br>
                    <div><b>Simran Grewal</b></div>
                    <div class="role">Founder</div>
                </div>
            </div>
            <div class="members2" data-aos="fade-up">
                <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" height="280px" width="280px" alt="">
                <div class="details">
                    <br>
                    <div><b>Gunish Bhatia</b></div>
                    
                    <div class="role">Head of Engineering</div>
                </div>
            </div>
            <div class="members2" data-aos="fade-up">
                <img src="https://images.unsplash.com/photo-1639149888905-fb39731f2e6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80" height="280px" width="280px" alt="">
                <div class="details">
                    <br>
                    <div><b>Saksham Singhal</b></div>
                    
                    <div class="role">Head of Sales</div>
                </div>
            </div>
            <div class="members2" data-aos="fade-up">
                <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" height="280px" width="280px" alt="">
                <div class="details">
                    <br>
                    <div><b>Tirthangkar Das</b></div>
                    
                    <div class="role">Chief of Operating Office</div>
                </div>
            </div>
        </div>
    </div>
</div>