<% layout('../layouts/base') %>

<style>
    .foster .container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
    .foster .container h1 {
        color: #2356A9;
    }
    .foster p {
        color: gray;
    }
    .foster li {
        color: gray;
    }
    .foster .heading h1 {
        color: #2356A9;
    }
    .foster .heading p {
        text-align: center;
        line-height: 40px;
    }
    .foster .why_foster {
        line-height: 35px;
    }
    .foster .foster_cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .foster .dog_card {
        margin-right: 100px;
    }
    .foster .cat_card {
        margin-left: 100px;
    }
    .foster .foster_cards .card {
        height: 950px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .foster .foster_cards .card h2 {
        color: #2356A9;
    }
    .foster .card {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
    }
    .foster .expect {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
    .foster .expect .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .foster .expect .card {
        text-align: center;
        margin: 50px;
        height:500px;
    }
</style>

<div class="foster">
    <br><br><br>    
    <div class="container">
        <div class="heading">
            <h1 style="text-align: center;">Improve the Lives of Homeless Pets</h1>
            <br><br>
            <p>Pets thrive in homes. Open your heart and home to a shelter pet for a weekend, a few weeks or longer. Help keep them happy and healthy, and free up limited shelter space for other pets who enter our shelters.</p>
        </div>
        <br><br><br>
        <div>
            <img src="https://images.unsplash.com/photo-1447684808650-354ae64db5b8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1167&q=80" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 20px;"  height="500px" width="800px" alt="">
        </div>
        <br><br><br>
        <div class="why_foster" data-aos="fade-up">
            <h1>Why Foster ?</h1>
            <br>
            <p>There is nothing like the love and warmth of a family. Fostering enables pets to thrive in a home where they are less stressed and better socialized. Thus, they are less likely to get sick than pets in shelters.</p>

            <p>Fostering is also important for pets who are too young to be at the shelter due to their fragile immune system. Pets can have a quiet space to heal from an illness or surgery or specialized attention to improve on various behaviors.</p>

            <p>We provide the vet care, supplies, support and adoption assistance. Share your home with a shelter pet and help save a life!</p>
        </div>
        <br><br>
        <div class="foster_cards">
            <div class="dog_card card" data-aos="fade-right">
                <h2 style="text-align: center;">FOSTER A DOG</h2>
                <p style="text-align: center;">Checkout a few of our dog fostering opportunities below.</p>
                <hr>
                <br>
                <div class="content">
                    <h2>General Fostering</h2>
                    <p>Many dogs in our care are happy, healthy and ready to find their forever home. All they need from you is a comfy place to stay, a little love, and help finding their perfect match!</p>
                    <br>

                    <h2>Weekend Warriors</h2>
                    <p>Let a shelter dog spend their weekend with you! From exploring Atlanta to hanging out at home, help us learn more about our dogs to help us find them their perfect home.</p>
                    <br>

                    <h2>Medical Treatment</h2>
                    <p>Pets with special medical needs benefit from living in a quiet, non-stressful environment where they can heal. All veterinary costs are covered by LifeLine.</p>
                    <br>

                    <h2>Rescue Transport</h2>
                    <p>Foster a pet for a few weeks before s/he travel out of state to one of our wonderful rescue partners.</p>
                    <br>
                </div>
            </div>

            <div class="cat_card card" data-aos="fade-left">
                <h2 style="text-align: center;">FOSTER A CAT</h2>
                <p style="text-align: center;">Checkout a few of our dog fostering opportunities below.</p>
                <hr>
                <br>
                <div class="content">
                    <h2>Bottle Babies</h2>
                    <p>Bottle babies must be fed formula every two-to-four hours, stimulated to go to the bathroom, kept on a heat source, weighed before each feeding and closely monitored for illnesses.</p>
                    <br>

                    <h2>Families</h2>
                    <p>When a pregnant cat or a new mom and her litter come into our care, placing them into foster care is critical to ensure that the babies stay healthy and will learn proper socialization skills.</p>
                    <br>

                    <h2>Special Needs</h2>
                    <p>Some kittens and cats need additional socialization or may have a specific medical concern that is best cared for in a foster home.</p>
                    <br>

                    <h2>Weaned Kittens</h2>
                    <p>When kittens are old enough to eat on their own but too young to be spayed or neutered, they benefit from living in a foster home where they continue to grow and play until they are ready for adoption.</p>
                    <br>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br>
        <div style="display: grid; align-items: center; justify-items: center">
            <img src="https://lifelineanimal.org/wp-content/uploads/unlimited_elements/imgPagePlaceholder-1024x459.jpg" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 20px;"  alt="">
            <br><br>
            <div class="card" data-aos="fade-up" style="width: 600px; margin-top: -150px">
                <h2 style="text-align: center; color:#2356A9" >"Its a feeling like no other"</h2>
                <p style="text-align: center;" >“Watching a foster pet thrive, learn, grow and come out of their shell in your home is a feeling like no other. It's so hard to say goodbye when they get adopted, but updates from their new family make it all worth it!”</p>
            </div>
            <br><br>
        </div>

        <br><br>

        <div class="expect">    
            <h2>WHAT TO EXPECT</h2>
            <hr>
            <div class="cards">
                <div class="process card" data-aos="fade-right">
                    <h2 style="color: #2356A9;" >THE PROCESS</h2>
                    <br><br><br>
                    <p style="text-align: center;">We want to make fostering with us as accessible as possible, however we do have some requirements for participating. </p>
                        <br><br>
                    <p style="text-align: center;">To get started, complete the dog or cat foster questionnaire. We’ll reach out when a pet meeting your criteria is ready. If you have dogs, we can arrange a meet and greet with your pets at our shelters. Our greatest need is foster homes for medium-to-large (40-60lbs) dogs.</p>
                </div>
    
                <div class="process card" data-aos="fade-left">
                    <h2 style="color: #2356A9;" >REQUIREMENTS</h2>
                    <p style="text-align: center;">We want to make fostering with us as accessible as possible, however we do have some requirements for participating. </p>
                    <br>
                    <ul>
                        <li>Be at least 18 years old</li>
                        <li>Live within a reasonable travel distance to your chosen shelter</li>
                        <li>Provide transportation for veterinary visits or emergencies</li>
                        <li>Offer a safe, indoor, temperature-controlled space and adequate food</li>
                        <li>Stay in contact with your Foster Coordinator and Foster Coach</li>
                        <li>Allow a periodic home visit every 6 months, which is required by GA law</li>
                    </ul>
                </div> 
            </div>
        </div>
        <br><br>
    </div>
</div>