<!-- <% layout('../layouts/base') %> -->

<br>
<div class="pet_supply">

    <!-- Search Container -->

    <div class="search_container">
        <div class="search_main_container">
            <div class="left_box">
                <h1>A complete guide to</h1>
                <h1>what your pet</h1>
                <h1>needs</h1>
                <br><br>
            </div>
            <div class="right_box">
                <img src="/img/image 16.png" height="300px" width="500px" alt="">
            </div>
        </div>
    </div>


    <!-- Explore Plans -->

    <div class="explore_container">
        <div class="container">
            <div class="left_box">
                <img src="/img/image 19.png" height="400px" width="500px" alt="">
            </div>
            <div class="right_box">
                <div class="heading">
                    <h1>Choose Healthy</h1>
                    <h1>food for your</h1>
                    <h1>dog <img src="/img/paws.png" alt="paws" height="80px"></h1>
                </div>
                <br>
                <div class="para">
                    <p>It’s important to remember all dogs are individuals, and what diet might be fine for your friend’s dog may be completely inappropriate for your dog.
                        It is entirely acceptable to feed your dog a pure kibble diet. Or you can mix their diet up with some cooked or raw meat, fish, vegetables and rice.
                        A small amount of cooked meat such as boiled chicken or lamb is an option for dogs to eat, but avoid cooked bones or toxic substances such as onion sauces that may be present on the meat.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="dog-explained">
        <h5>Each pet is unique and so are their nutritional needs. You want to choose a diet that caters to these four:</h5>
        <ol type="1">
            <li>Your Pet’s Species</li>
            <li>Life Stage</li>
            <li>Special Conditions</li>
            <li>Health Concerns</li>
        </ol>

        <h5>READ THE PACKAGING LABEL CAREFULLY</h5>
        <p>The packaging label of any food brand is how you can determine if a pet food is safe and healthy for your pet. It’s important to look out for mis-information. The more transparent the information on the packaging is, the more you will know what you are feeding your dogs. Here’s how you can read the packaging label of a pet food the right way:
            <ol type="1">
                <li><h6><b>Types of Diet</b></h6>
                    <ul>
                        <li><b>Complete Diet: </b>The product contains all the nutrients required by your pet</li>
                        <li><b>Supplementary Diet: </b>The product does not contain all the nutrients required by your pet and hence needs to be mixed and fed with another food</li>
                        <li><b>Balanced Diet: </b>The nutrients are present in the correct ratios</li>
                    </ul>
                </li>
                <br>
                <li><h6><b>Ingredient List</b></h6>
                <p>Check the ingredients to make sure they're all fit to be consumed by your dog and/or cat. A meat, poultry or fish based diet is ideally suitable for dogs and cats. Ensure your cat food has protein and taurine while your dog food has a high percentage of protein and fat content.  

                    The ingredient list on any packaging is displayed from most to least by weight, meaning the first five ingredients are the ones that are used the most. For example, if ingredient A is used more than ingredient B during preparation, A is displayed first followed by B. Look for ingredients that your pet is specifically allergic to. 
                    
                    Most pets are allergic to grains, even if you aren’t aware of it. Grain-free dog food and cat food is a good alternative that is suitable for all pets.</p>
                </li>
                <br>
                <li><h6><b>Nutritional Value</b></h6>
                    <p>Reading and understanding the “Guaranteed Analysis” section of packaging is important. You want your pet’s food to include nutrition such as calcium, phosphorus, taurine (for cats), at least 30% protein, Omega-3 & Omega 6 fatty acid, at least 18% fat and preservatives via Vitamin E and/or C, vitamins and minerals. 

                        A good rule of thumb is to search for diets that follow the 95% rule. These are foods that include at least two ingredients that are the hero of the diet. Eg: “Tuna with Shrimps” or “Chicken with Pumpkin”. This means that 95% of the diet consists of these ingredients (not counting any water added during processing).  
                        
                         </p>
                </li>
            </ol>
        </p>

        <div class="ref">
            <img src="/img/dogFood.jpg" alt="food" height="400px" width="500px">
            <div class="websites">
                <h2>
                    Some trusted websites where you can buy dog food from :
                </h2>

                <h4><a href="https://headsupfortails.com/collections/dog-food">Heads Up For Tails</a>
                    <br><br>
                    <a href="https://supertails.com/collections/dog-food">Supertails</a>
                    <br> <br>
                    <a href="https://drools.com/dog/dry/">Drools</a>
                    <br> <br>
                    <a href="https://captainzack.in/collections/dog-super-nutrition">Captain Zack</a>
                </h4>
            </div>
        </div>

    </div>
</div>




<div class="explore_container-cat">
    <div class="container">
        <div class="left_box_cat">
            <img src="/img/cat.png" height="400px" width="500px" alt="">
        </div>
        <div class="right_box_cat">
            <div class="heading">
                <h1>Choose Healthy</h1>
                <h1>food for your</h1>
                <h1>cat<img src="/img/paws.png" alt="paws" height="80px"></h1>
            </div>
            <br>
            <div class="para">
                <p>Cats are carnivores, so they need a source of animal protein to be in optimal health. You’ll need to find a high-quality commercial cat food appropriate for your cat’s age and health. If necessary, speak to your veterinarian before you choose what to feed your cat as they can assess their health status as well as ensure you’re feeding them the right kind of food.
                </p>
            </div>
        </div>
    </div>
</div>



<div class="dog-explained">
    <h4>Food in relation to your cat’s age</h4>
    <p>The amount of food your cat needs will depend on its weight, size and age, so don’t always go by what your neighbour is feeding their cat!
        <ol type="1">
            <li><h5><b>Kitten</b></h5>
                It’s crucial to feed your kitten the correct diet at this time, because it’s still growing its bones and joints. <br> <br>

            The basis of your kitten’s diet should be a high-quality, balanced, premium commercial kitten food; however, you can offer cooked or raw meats for variety. <br> <br>

            Avoid feeding raw meat until the kitten is at least 20 weeks of age, as their immune system isn’t robust enough for potential pathogens. Strips of raw beef can help remove plaque from your kitten or older cat’s mouth.

            Importantly, never feed your kitten cooked bones. These may splinter and cause internal damage or obstruct the intestinal tract. <br> <br>

            It’s also a good idea to include some moist foods in your kitten’s diet. Wet canned food or cooked meat is a good starting point. Moist food has been found to help promote urinary tract health. <br> <br>

            In terms of the best amount of food for your kitten, it comes down to size, weight, breed and overall health status, so always check with your veterinarian. Kittens should generally be offered food at least four times per day. Of course, they may not wish to eat all of this, but the offer should always be there.
            </li>
            <br>


            <li><h5><b>Adult cats</b></h5>
                <p>Similar to kittens, the basis of your adult or senior cat’s diet should be a high-quality, premium commercial cat food. when shopping, check the package label to see what age the food is suited to. If you’re ever in doubt or need some help, your veterinarian will be able to assist. <br> <br>

                    As with kittens, feel free to offer your cat a variety of food such as fresh or cooked meat or fish. Meaty bones or fresh meat is a great source of protein, just make sure it’s human-grade as some pet meat and bone products may contain preservatives that can be harmful for your cat.</p>
            </li>
            <br>
            <li><h5><b>Senior cats</b></h5>
                
                <p>Always recognise older cats may have health issues the wrong diet can adversely affect. Many benefit from a wet diet that’s canned, fresh or cooked to help increase the amount of fluid they consume. Always consult your vet about an appropriate diet if your cat has health issues. <br> <br>

                    In terms of how many servings, it will depend on your cat’s size and age, but always take care when finding the balance between overfeeding and underfeeding. Adult cats generally prefer to eat smaller meals throughout the day, so offer it food at least three or four times. Eating smaller, more frequent meals has been associated with better urinary tract health. <br> <br>
                    
                    When in doubt, speak to the experts. Your veterinarian will be able to help you answer any questions you may have relating to the type of food and how much to feed your cat.</p>
               
            </li>
        </ol>
    </p>

    <div class="ref">
        <img src="/img/catFood2.jpg" alt="food" height="400px" width="600px">
        <div class="websites-cat">
            <h2>
                Some trusted websites where you can buy cat food from :
            </h2>

            <h4><a href="https://headsupfortails.com/collections/cat-food">Heads Up For Tails</a>
                <br><br>
                <a href="https://supertails.com/collections/cat-food">Supertails</a>
                <br> <br>
                <a href="https://drools.com/cat/dry/dry-cat-food/">Drools</a>
                <br> <br>
                <a href="https://captainzack.in/collections/cat-super-nutrition">Captain Zack</a>
            </h4>
        </div>
    </div>

</div>
</div>