<% layout('../layouts/base') %>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
    .trial_container .container {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        justify-items: center;
        align-items: center;
    }
    .trial_container .container .content {
        text-align: center;
        font-weight: 600;
        font-family: 'Bree Serif', serif;
        color: #2356A9;
    }
    .trial_container .container p {
        line-height: 35px;
        color: gray;
    }
    .trial_container h2 {
        color: #2356A9;
    }
    .trial_container .card {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        background-color: white;
        width: 600px;
        height: 400px !important;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .trial_container button {
        color: white;
        margin-top: 10px;
        margin-left: 10px;
        height: 40px;
        width: 300px;
        border: none;
        border-radius: 15px;
        background-color: #FD9789;
    }
</style>
<div class="trial_container">
    <br><br>
    <div class="container">
        <div class="img_container" data-aos="zoom-in">
            <img style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 20px;"  src="https://lifelineanimal.org/wp-content/uploads/2021/04/foster-to-forever-blog-post-header.jpg" alt="">
        </div>
        <br>
        <div class="content">
            <br>
            <h1>NEED TIME TO DECIDE?</h1>
            <h1>Do a trial period</h1>
        </div>
        <div><hr></div>
        <div>
            <p>Adopting a pet is a lifelong commitment. Not sure if a particular pet will be the perfect match? A trial adoption might be the way to go. Our Foster to Family program lets you take two weeks to decide if a pet is the right one for you.</p>
            <br>
            <hr>
        </div>
        <div class="how_it_works" data-aos="fade-up">
            <h2>How it Works</h2>
            <br>
            <p>LifeLine’s Foster to Family program is essentially a trial adoption. For two weeks, you can bring a pet who you’d like to adopt into your home to see how they fit in with your family. This is especially helpful if you have other pets and children in your home or just need more time to make a decision.</p>
            <br>
            <p>During those two weeks, that pet becomes part of our foster program, which means that you have full support from our foster team. If you have any questions or concerns, we are here to help you. Our veterinary and behavior teams can also address any concerns that may arise while the pet is in your home.</p>
            <hr>
        </div>
        <br>
        <div class="ready" data-aos="fade-up">
            <h2>I'm ready to adopt</h2>
            <br>
            <p>Although the Foster to Family program allows two weeks for the trial adoption, you can finalize the adoption as soon as you are ready. You don’t even have to come back to the shelter! With our online adoption process, you can submit an adoption inquiry for your foster pet. Our adoption teams will finalize your adoption electronically and email you the final copies of your adoption paperwork.</p>
            <br>
            <p>With your adoption, our teams will send your new pet’s medical history of their time within our care. This is especially helpful to bring to your first veterinary visit with your pet. You’ll also receive an adoption packet that has tons of helpful information about making your pet’s transition into your home a success. After a few days, you’ll also receive your new pet’s rabies tag and certificate and microchip tag in the mail.</p><hr>
        </div>
        <br>
        <div class="" data-aos="fade-up">
            <h2>What if it's not a good fit?</h2>
            <br>
            <p>If you realize that the pet is not the right fit for your family, that is okay!  You can choose to bring the pet back to the shelter and find a different pet that may be a better fit. Or, you can keep that pet out of the shelter,  become part of our traditional foster program and continue to foster the pet until the pet finds a new home. The information that we learn about foster pets homes is so helpful. We’ll work with you using this valuable information to market your foster pet to potential adopters!</p><hr>
            <br>
        </div>
        <div class="" data-aos="fade-up">
            <h2>Getting Started</h2>
            <br>
            <p>If the Foster to Family trial adoption sounds like a good option for you, here’s how you can get started. Head over to our adoption page where you will find a listing of all our pets available for adoption. If you see a pet you are interested in, write down their name and animal ID number. Send an email to our adoption team with the pet’s name and ID, and let them know that you are interested in participating in the Foster to Family program with that pet.</p><hr>
            <br>
            <br>
        </div>
        <br><br>
        <div class="card" data-aos="fade-up">
            <h2>ADOPT A PET</h2>
            <p style="text-align: center;" >Adopt the love of your life! Our adoptions include the pet’s spay/neuter, vaccinations and microchip. Our adoption counselors can help you find the perfect match for your family.
            </p>
            <a href="/NewMembers"><button>FIND PETS</button></a>
        </div>
        <br><br><br><br>
    </div>
</div>